[2018-10-08 13:30] sharad1126 opened #1 "console stops responding properly after submitting some amount of acdcs and clones"
![screenshot from 2018-10-08 14-59-40](https://user-images.githubusercontent.com/17527468/46611707-d054d000-cb0e-11e8-8164-b940f7b2a5e9.png)
The wtc console after submitting some amount of acdcs behaves abnormally as in the screenshot above. Then I generally have to restart it even when the test.json is not empty to avoid wastage of time. But the restart also takes longer than usual.

@dabercro ca

[2018-11-08 14:12] dabercro commented on #1
I'm going to close this since this was for the old console.

[2018-11-08 14:12] #1 closed

[2018-11-08 14:22] dabercro opened #2 "Workflow Eviction"
Right now, the console loops through all workflows in its database while updating errors seen. Since workflows with errors add up quickly, this now takes forever.

It would be good to have some way of looping through a subset of workflows. This can either be looking at workflows that are newer than some age, or only looking at workflows that appear with status "*manual*" in http://cms-unified.web.

[2018-11-08 14:27] dabercro commented on #2
@vargasa I would assign this to you, but it looks like you need to be a collaborator first. (Invite was just sent.) Let me know if you have any other questions on this issue.

[2018-11-08 19:19] dabercro opened #3 "Uploading Errors to CMSMONIT"
We can look into uploading information for each workflow to CMSMONIT. This will allow us to use Grafana to:
- Generate the displays
- Store information for long terms to study and model in the future

Ticket with Valentin to get the information and table dashboard is here: https://its.cern.ch/jira/browse/CMSMONIT-45

[2018-11-08 19:21] dabercro opened #4 "Select Sites Ahead of Time"
For the old tool, when selecting sites to run on manually, the sites given by the acdcserver were automatically selected. This gives the operator more information and less looking at other pages to do. This should be added to this tool.

[2018-11-10 21:49] sharad1126 opened #5 "T0_CH_CERN being selected for running workflows"
T0_CH_CERN is not supposed to get assigned for running workflows. Still, there are tasks getting assigned to T0_CH_CERN. @dabercro can you please have a look? @thongonary @vlimant @SvenjaPflitsch FYI

[2018-11-15 14:59] vlimant opened #6 "where are the actions set"
related to https://github.com/CMSCompOps/WmAgentScripts/issues/339
the actions might be set committed somewhere in mongodb, can someone surface what collection is that ?

[2018-11-15 15:03] vlimant commented on #2
the json file on the web is not used, the console reads directly in oracle

https://github.com/CMSCompOps/wtc-console/blob/master/src/unified/models.py

[2018-11-15 15:06] vlimant commented on #2
there seems to be something here

https://github.com/CMSCompOps/wtc-console/blob/11794414dc7f9a1c8cdcfee410d1c28db2de121c/src/workflows/tasks.py#L149

as a hook for cleaning

[2018-11-15 15:14] dabercro commented on #6
If you open the MongoDB, you can do the following:

[code]

It looks like there's a database `wtc-console`, but there might be no collection of "actions" yet. @vined can correct me.

[2018-11-15 15:18] dabercro commented on #2
Ah, I guess I meant, the statuses.json can still be used as a way to determine what the loop should be. How are workflows evicted from that JSON file?

[2018-11-15 15:20] vlimant commented on #2
do not tie to the json file. evicting anything that is not in "manual" anymore is an ok way.

[2018-11-15 15:23] vlimant commented on #2
although, we might want to keep much more, if we are going to use the new console as the new unified report (which was one of the goal here)

[2018-11-15 15:24] dabercro commented on #5
I just put in a super hacky fix into port 80: https://github.com/dabercro/WorkflowWebTools/commit/016db1fd843a6b60ea34adffc9b2f2ed77b8e605

This should prevent T0_CH_CERN from being selected by "Auto", but it's definitely not an ideal solution. Blacklisting sites should be done through some other mechanism in unified.

[2018-11-15 15:29] dabercro commented on #2
Okay @vargasa I think that means that you'll need to connect to the Oracle database to fill the tasks table. Also, we'll need to add a filter (status like "%manual%" for a first pass) that isn't there right now.

[2018-11-15 15:35] vlimant commented on #2
https://github.com/CMSCompOps/wtc-console/blob/11794414dc7f9a1c8cdcfee410d1c28db2de121c/src/workflows/tasks.py#L30
maybe

[2018-11-15 15:40] sharad1126 commented on #5
@SvenjaPflitsch I think T0_CH_CERN is blacklisted according to unified scripts, right?

[2018-11-15 15:48] dabercro commented on #3
@phylsix Let me know if you have questions about the information in the ticket. I can make a first script that puts the JSON file together. We can track progress here.

[2018-11-15 17:27] phylsix commented on #3
Hey, as far as I can understand from the link above, grafana is time-series oriented, also the value of the cells in the table is restricted to numbers. A lot of times we want to save or display strings, is it possible?

[2018-11-15 17:54] dabercro commented on #3
Yeah, that is one thing that Valentin pointed out as different from our general use case. I think the time series can still be useful to see how errors are reported (especially for ACDCs), and we can still make tables with just the latest timestamped information.

I don't know if there's an easy way to display strings with Grafana, but Valentin said we can also run python scripts directly on the S

[2018-11-15 17:58] phylsix commented on #3
Ok, so there is no problems in saving strings. That would be good for now.

[2018-11-16 20:38] dabercro commented on #3
I'm going to spend some time trying to learn Grafana through the tutorial here: http://docs.grafana.org/guides/getting_started/

For a first pass, I will just try to push the information here: https://github.com/dabercro/WorkflowWebTools/commit/d0a81f92c853127ba0e378e20909dd3270b4de5a

[2018-11-18 07:13] phylsix commented on #3
During the query to get consistent failure rate of a workflow with the number showed up in wmstats page, I noticed two differences on how to treat error counts with respect to workflowwebtools:

1. 'NotReported' are not treated as errors (interpreted as -1 in workflowwebtools)
2. Errors happened in 'LogCollect' or 'Cleanup' type step are also included into rate calculation. (not in workflowwebtool

[2018-11-19 20:12] dabercro commented on #3
Yeah, I think this all would be interesting to keep.

Good catches. The LogCollect and Cleanup were asked to be filtered out from the webpage, but it probably doesn't hurt to keep the data around. Also, the NotReported errors are retrieved from CouchDB: https://github.com/CMSCompOps/WorkflowWebTools/blob/master/workflowwebtools/workflowinfo.py#L278 We should probably include those in the informati

[2018-11-20 00:16] phylsix commented on #3
Ok, I saved NotReported sites list as `siteNotReported` for each task of a workflow now.

[2018-11-29 13:15] sharad1126 commented on #2
assistance-manual, assistance-manual-recovered, assistance-announced-manual, assistance-announced-manual-recovered are the categories that should have workflows in WTC console because these are the ones that I need to take action on.

[2018-11-29 13:22] vargasa commented on #2
I'll keep this here for reference: https://cms-unified.web.cern.ch/cms-unified/assistance.html#assistance-manual

[2018-11-29 16:58] dabercro commented on #3
@phylsix To get the list of workflows to cycle through, you can connect to the Unified database like this: https://github.com/CMSCompOps/WorkflowWebTools/blob/b9eb16f687ce6dcd892b37f0fdb034f890d72436/workflowwebtools/errorutils.py#L56-L61

You won't need the `STATUS` constraint, I think.

I will send you over Skype where the connection parameters can be found.

[2018-12-03 16:35] dabercro commented on #3
@vlimant If we want to use this for OS Driod also, what statuses should we be looking at? I'm guessing it's more than just "manual", but we can't loop over all 100k workflows in the database either. Is 'STATUS NOT LIKE "%unlock%"' a good subset?

[2018-12-03 16:35] dabercro commented on #3
@phylsix Can you link to a workflow JSON at this ticket? https://its.cern.ch/jira/browse/CMSMONIT-45

[2018-12-03 17:06] phylsix commented on #3
@dabercro OK, I just added a comment with an link.

One question: I tried to access the oracle db with the parameters you provided after pulling the latest master branch on vocms0116, but failed. It shows the following message:

oracle_db_conn = cx_Oracle.connect(*config_dict['oracle']) # pylint:disable=c-extension-no-member
cx_Oracle.DatabaseError: DPI-1047: 64-bit Oracle Client library cannot be

[2018-12-03 17:47] dabercro commented on #3
Ah, there's another package I had to install to get it to work (`oracle-instantclient-basic`). It's on vocms0116 now. Let me know if it still doesn't work for you.

[2018-12-05 04:41] phylsix commented on #3
Valentin's last comment at https://its.cern.ch/jira/browse/CMSMONIT-45 was about how we would like to aggregate/display error data of interesting workflows (An example can be seen at http://wsi.web.cern.ch/wsi/public/toSaveExample3.json). As it can affect storage strategy and document structure, I guess.

Below it's my thought:

---
#### Data collection, what to save:
Periodically launch (0.5h),
-

[2018-12-05 04:53] vargasa commented on #2
Hi @sharad1126 I can confirm that the following status are being fetched from Unified:

[code]

This was done by logging:

[code]

Which provides a set of unique workflows status from unified that contains the string 'manual'. So maybe the problem is not here (tasks.py) but in the front-end

[2018-12-05 05:10] vargasa commented on #2
@sharad1126 I took a couple of workflows from [here](https://cms-unified.web.cern.ch/cms-unified/assistance.html#assistance-manual) and they are shown also on wtc-console as it is in my dev instance. How are you accessing wtc-console?

[2018-12-05 16:54] dabercro commented on #3
This looks like a pretty good list of monitoring plots to have!

One more thing which the monitoring team already knows about is the table (example table https://monit-grafana.cern.ch/d/XcvyO_-mk/_demo-table?orgId=11) which would have error codes on one axis, site names on the other, and number of errors in the cell. From your example JSON, we should be able to make that.

Do you know how long it

[2018-12-06 02:00] phylsix commented on #3
I did a test, by connecting the oracle db you provided, it costs about 8min15s to parse 245 workflows, while only handing the ones whose failure rate > 20%.

Yeah, I think job parameters can be saved in a separate collection, which can be queried in some way. The failure rate is a number one can see in WMStats page, but I cannot find an api for it. So I work out a way to calculate it from number o

[2018-12-06 10:33] sharad1126 commented on #2
@vargasa I am generally accessing the WTC console through the unified error reports as it directly sends me to the console page of that particular workflow to take an action.

[2018-12-06 12:26] vargasa commented on #2
@Sharad Can you send me a link and/or the part of the report to check?
Please

[2018-12-06 12:59] dabercro commented on #2
My guess is that the link from Unified still points to the old tool. To make things easier for Sharad, I can try to add a link to the new console from the old one, unless @vlimant wants to make the change or addition in Unified.

[2018-12-06 13:13] sharad1126 commented on #2
@dabercro that's right. I'm still using the old tool. @vargasa here is the link of an error report - https://cms-unified.web.cern.ch/cms-unified/report/prebello_Run2018B-v1-JetHT-17Sep2018_pilot_1024p1_180917_170455_3850. It has an option on the top left called console. I use it to directly use the console which points to the default port. on vocms0113.cern.ch/seeworkflow

[2018-12-06 13:15] vlimant commented on #2
in fine, the new wtc-console should have enough information in itself that the unified report would go away. the goal is indeed to have all information of the unified report located in mongodb and have enough visualization for the wtc to perform the operation.
we can add a link on the unified report pointing at the new console using a filtering url to restrict to that particular workflow, for now.

[2018-12-06 13:19] sharad1126 commented on #2
@vlimant As far as I know, the new console isn't giving me enough information regarding the errors. So for now, I would suggest that we use error reports from unified and then go to the console from there.

[2018-12-06 16:04] dabercro opened #8 "Add SHap library for display to operator"
@chrisjcc has used the SHap library (https://github.com/slundberg/shap) to create displays showing why a machine learning model suggests the action that it does.

We can include this as part of the display for the operator to understand why the suggestion is what it is.

[2018-12-06 16:09] dabercro commented on #3
Okay, so if I do the following:

[code]

I get 3323 workflows right now. I think we will probably want to run this every two or three hours then.

Also, does CMSMONIT include the timestamp for you when you upload info, or should we add a timestamp member (just something like `int(time.time())`)?

[2018-12-06 16:21] phylsix commented on #3
Ok, that sounds good. Does `lower(STATUS) NOT LIKE '%unlock%'` only select those that are on-going? Will workflows that are completed also go into that selection as well?

I am not sure if they would add timestamp automatically for us, if not, yeah, we should add a timestamp member.

[2018-12-06 16:30] vargasa commented on #2
I see. This is from the other tool though as I see the cherrypy favicon on the vocms0113 link

@vlimant, @dabercro Is all the information in the report that @sharad1126 sent contained in Unified? If it is so as of now is not being retrieved by `this` console

[2018-12-06 17:02] dabercro commented on #3
I pinged P&R and it turns out that the best query would actually be:

[code]

(Replace `count(*)` with `NAME` or whatever you need)

[2018-12-06 17:03] dabercro commented on #3
That's coming out to 2760 workflows right now.

[2018-12-10 19:10] dabercro commented on #2
It sounds like Sharad wasn't using the displays in the old console either. We can handle the errors in #3  though. For this issue, we should just confirm that the workflows @sharad1126 needs are visible to him.

[2018-12-13 13:41] dabercro commented on #4
@vargasa Here's an example for getting the list of sites to run over: https://github.com/CMSCompOps/WorkflowWebTools/blob/master/workflowwebtools/workflowinfo.py#L325

[2018-12-13 14:32] phylsix commented on #3
I uploaded the script here: https://github.com/phylsix/WorkflowWebTools/tree/master/workflowmonit

[2019-01-04 20:13] vargasa commented on #4
I worked on an endpoint to get the recovery_info by using `WorkflowInfo` from `cmstoolbox`, for instance:

http://wc-dev.cern.ch/api/v1/cmsweb/workflow/pdmvserv_task_EXO-RunIIFall17GS-01664__v1_T_181128_212158_5661/sites/

But, there seems to be a check already in place:

https://github.com/CMSCompOps/wtc-console/blob/c798e2d8201593c71bc4811c78458e4ca2f22c12/src/static/containers/Tasks/index.js#L3

[2019-01-10 16:34] sharad1126 commented on #6
@dabercro @vargasa  I am adding all the things we saw today on the new console to keep everyone updated.

1. There extra rows of prep ids coming up when we search for one.
2. The tasks with errors are not being highlighted properly. Only 1 showed error instead of 3.
3. Submit button isn't working as of now
4. Need to double check the actions being set into the unified database if that's properly w

[2019-01-10 17:48] vargasa commented on #4
The check that is in place is not regarding the sites that can be used for each workflow/task but instead the sites that has been selected by the user. The properties of the "action" are modified incrementally as the user triggers events that modify the state of the application. So when a checkbox is clicked the site is then added to an array in the action object which is kept into the state's app

[2019-01-10 22:54] dabercro commented on #4
To clarify, the old tool only has a site form for each task when "Manual" is selected, not "Ban". Though it's probably easiest to do that in all cases in the new tool first.

Sorry I didn't get to this earlier. It's been a busy day. Do you have other questions about the site selection? I see you found a link on your own already.

[2019-01-10 23:00] dabercro opened #9 "Updating Workflow Errors in Manual Assistance"
At the meeting today, we saw that one of the workflows did not have the same errors in the new console as the old or Unified. This may be related to #2 but not quite, so here's a new issue. The problem seems to be that the error information for the workflow in question is almost a week old.

Here's the link to the relevant pages (with screenshots since the workflow will be acted on soon)

wtc-cons

[2019-01-10 23:05] dabercro commented on #6
Thanks @sharad1126. I just opened #9 which will cover point 2 explicitly.

[2019-01-11 15:37] vargasa commented on #4
Yes. Does the full list of sites need to be rendered for each action form or is it enough with `sites_to_run` per task?

[2019-01-11 18:57] dabercro commented on #4
I usually render the whole list, but @sharad1126 can tell us if that is useful or not. I think it's most common to just deselect certain sites.

[2019-01-14 13:46] sharad1126 commented on #4
The whole list needs to be rendered as there are times when even the selected sites are in drain and then we have to change sites or cases when we don't want to send to specific sites due to a future downtime or other reasons. The one how it works now is actually good. But I would like to discuss something at the next meeting which could be helpful too.

[2019-01-16 11:18] sharad1126 commented on #5
@dabercro @SvenjaPflitsch can you please have a look? specially HIG-RunIIFall17NanoAODv4 campaign

[2019-01-17 13:33] sharad1126 commented on #4
Clarifying the suggestions -
Removing sites from ACDC action page where we can't run tasks at (blacklisted sites) for particular tasks/requests.

[2019-01-17 15:28] vargasa commented on #4
As I understand would be:

* Full list of sites (Already being fetched)
* Check sites to run, which is defined by task but fetched by workflow
* Check against blacklist (need some API endpoint)
* Check for site status (need some API endpoint)

If anyone can provide input about where to find this information for each task (API if available) would be helpful

[2019-01-17 18:25] dabercro commented on #4
The site status can be fetched using the `cmstoolbox` module.

For an individual site's status, you could use this: https://github.com/CMSCompOps/OpsSpace/blob/master/cmstoolbox/sitereadiness.py#L63

The old console uses this to build a JSON response: https://github.com/CMSCompOps/OpsSpace/blob/master/cmstoolbox/sitereadiness.py#L15

The backend of this is the site dashboard (https://github.com/CM

[2019-01-24 19:56] vargasa opened #11 "Submit action button doesn't provide any feedback to user"
Actions are being submitted here:

https://github.com/CMSCompOps/wtc-console/blob/51e3a5dfd658d63b76ed1231cafe2741dc5744b1/src/static/containers/Tasks/index.js#L551

Using this endpoint:

https://github.com/CMSCompOps/wtc-console/blob/51e3a5dfd658d63b76ed1231cafe2741dc5744b1/src/static/actions/data.js#L22

To a local collection (`wtc-console.task_action`) and stored using the following format:

[c

[2019-01-25 23:08] vargasa commented on #4
Thanks @dabercro, for some sites no information is provided (NOINFO in the screenshot). We can also change the CSS style of the checkbox instead of printing the status but the functionality would be the same. @sharad1126 What do you think?

![screenshot_2019-01-25 wtc-console](https://user-images.githubusercontent.com/16821717/51777695-2d7b8e00-20cc-11e9-94b7-dd9ae59f3e88.png)

[2019-01-29 20:51] dabercro commented on #11
@vargasa That format looks good.

I started poking around the Unified MongoDB. I see databases named "wtc-console" and "wtc-console-dev", but no collection named "task_action" in those. Are you connected to the Unified machine or using a local MongoDB instance for this? I think you can feel free to put actions into wtc-console-dev already for Unified to eventually look at.

[2019-01-30 16:18] vargasa commented on #11
@dabercro For saving the task action, it is doing in a local MongoDB isntance. so,

I'd say that `task_action` would be visible once we submit actions using `prod` server instead of `wc-dev`

[2019-01-30 16:58] dabercro commented on #11
Yeah, as long as your able to see it on your local database, it should work. Can you update the prod server for Sharad to try?

[2019-01-30 16:59] dabercro commented on #11
Ah, also, just sticking an alert up that says "Action Submitted" or something is probably enough for the operator.

[2019-02-04 15:30] vargasa commented on #11
@dabercro, I do not have information regarding the production server, but I will implement a `modal` for the feedback and PR it here as soon as I have it ready

[2019-02-04 15:33] vargasa commented on #6
Here: https://github.com/CMSCompOps/wtc-console/issues/11#issue-402870938

[2019-02-04 15:36] sharad1126 commented on #4
@vargasa looks good to me. I can use the console with you guys this Thursday and we can see how it is working!

[2019-02-04 16:31] dabercro commented on #6
@vlimant What's the plan for updating the production server with the latest console? I don't have sudo access to vocms0276, and @vargasa likely doesn't either.

[2019-02-04 16:59] vlimant commented on #6
please ask the voc for the proper rights

[2019-02-05 16:11] dabercro commented on #11
@vargasa Actually, let's install it on vocms0116 first. I think that has access to the Unified MongoDB instance.

[2019-02-05 16:13] dabercro commented on #6
Daniel left, right? Who's the new VOC?

[2019-02-05 16:16] vlimant commented on #6
cms-voc@cern.ch ;-)

[2019-02-05 16:29] sharad1126 commented on #6
c.costa@cern.ch

[2019-02-07 10:31] vlimant commented on #9
that calls for a unification of the information source/collection https://github.com/CMSCompOps/WmAgentScripts/issues/374 maybe ?

[2019-02-07 10:55] vlimant commented on #11
or on 276 if you're happy with the current version. It'd be nice to have some actions actually set.
for the format, I suggest "name" => "task" and add "workflow".
is that format the one in the current console ?

[2019-02-07 10:57] vlimant commented on #11
referencing https://github.com/CMSCompOps/WmAgentScripts/issues/339

[2019-02-07 18:43] dabercro commented on #9
That would be a good idea. @phylsix has been working on uploading the data to CMSMONIT. This was going to be used by wtc-console and OSDroid.

[2019-02-07 18:45] dabercro commented on #11
The current version isn't ready yet, unfortunately. I just want to get a collection into 0274 sometime this week for you to play with while the console is finished.

[2019-02-07 22:29] vlimant commented on #9
how do people get the information back from monit ? is that a trivial thing ?

[2019-02-08 20:15] dabercro commented on #9
Not as trivial as a local MongoDB, but I'm sure it can be made trivial by someone who knows what's going on.

[2019-02-12 16:22] vargasa commented on #11
@dabercro the master branch of `this` repo is now running on http://vocms0116.cern.ch/tasks . There is also an older version running on http://vocms0276.cern.ch/tasks I have no admin rights there though

[2019-02-12 19:06] dabercro commented on #11
Great! @sharad1126 Try to find a workflow in http://vocms0116.cern.ch/tasks that displays reasonably well and submit an action. That should end up in the Unified database.

[2019-02-13 10:00] vlimant opened #14 "sites suggestions in the console"
trying http://vocms0116.cern.ch/tasks when going "manual" one needs a "unselect all".

in addition (I don't recall where this discussion happened) the list of site should not be made task specific, because it makes the console impractical. so indeed this came up as a request in #4 and https://github.com/CMSCompOps/wtc-console/issues/4#issuecomment-454009709 but the list, as it was explicitely desi

[2019-02-13 10:02] vlimant commented on #14
there should be a "hide / show" button for the site list.
show : the big list of tick boxes, hide : a sorted comma separated list of the selected sites

[2019-02-13 10:27] vlimant commented on #11
please consider https://github.com/CMSCompOps/wtc-console/issues/11#issuecomment-461373471 @vergasa

[2019-02-13 10:28] vlimant commented on #14
playing either with http://vocms0116.cern.ch/tasks or http://vocms0276.cern.ch/tasks the actions do get in mongodb for both.
however, even if I selected a site, it does not get set properly ; i.e. I get an empty list in mongodb.

{u'timestamp': 1550051732L, u'acted': 0, u'_id': ObjectId('5c63e994ee453f295b9f2256'), u'name': u'/vlimant_task_HIG-RunIIFall17wmLHEGS-02271__v1_T_190118_172127_2013/HIG-

[2019-02-13 10:29] sharad1126 commented on #11
@dabercro I don't think it is syncing properly. I tried to find some requests but it doesn't show all tasks which have errors. eg. task_SUS-RunIIFall18wmLHEGS-00066 has two tasks with failures but the console shows only the premix one(that too thrice) but not the miniAOD.
@vargasa FYI

[2019-02-13 10:36] vlimant opened #15 "synching reports"
https://github.com/CMSCompOps/wtc-console/issues/11#issuecomment-463145757
@sharad1126 has noticed a discrepancy between the report and what appears in the console.

https://github.com/CMSCompOps/WmAgentScripts/issues/374 would help preventing this as a side product

[2019-02-13 10:38] vlimant commented on #11
and indeed @vargasa you are right, the "submit action" button does not provide any interesting feedback. One does not know whether this was propagated properly.
I am going to open a specific issue, specifying how "action" and "task_action" were meant to function, and how the console should display already set actions

[2019-02-13 10:50] vlimant opened #16 "hide task with no errors"
I wonder if the tasks that do not have errors at all should or should not appear in the console ; maybe they should not by default, and have a "show all tasks" button somewhere

[2019-02-13 10:59] vlimant opened #17 "sync with actions and task_actions already set"
the "action" collection was meant to contain unique action, where unique defines all parameters of the action + sites used (or set to "manual").
These "predefined" actions can be used to set "on-going issues with ..." that the user does not have to define over and over and just apply to various tasks.
as such, they should be loaded with the page, and displayed (maybe using the "reason" field as a

[2019-02-13 15:26] dabercro commented on #14
The recovery docs list different sites for different tasks, which suggests some tasks can only run at certain sites. Also, the current view of a site list per task was explicitly requested by @sharad1126

Did you check both databases? vocms0116 is the one up to date, so one of the databases will probably be incomplete if you did the same thing with 0116 and 0276.

[2019-02-13 19:59] vlimant commented on #14
I know this was a request

it might not have been the best recommendation of all time.
yes to checking both db : site = [] in both, even if I had a site checked on the console

[2019-02-13 20:33] vargasa commented on #14
`vocms` instances do not have the latest commits that were just merged and these are related with the sites entry you are mentioning

[2019-02-13 21:03] vargasa commented on #14
@vlimant Can you please check again if you find the same error by using `vocms0116`?

[2019-02-13 22:08] vlimant commented on #14
since it is not wired to anything yet, can you please insert one and check that its shows up fine in mongodb ? I cannot really do it right now.

[2019-02-13 22:27] vargasa commented on #14
`vocms0116` is using `vocms0274` for mongodb. I have access to the former not to the later.

**EDIT**: Actually I do. It is now showing `sites`:

[code]

[2019-02-13 22:36] #6 closed

[2019-02-13 22:36] vlimant commented on #14
you can setup a simple pymongo client

[code]

saw this

{u'timestamp': 1550096995L, u'acted': 0, u'_id': ObjectId('5c649a63ee453f10cae76dcd'), u'name': u'/pdmvserv_task_EXO-RunIIFall17NanoAODv4-01241__v1_T_190118_032613_2330/EXO-RunIIFall17NanoAODv4-01241_0', u'parameters': {u'action': u'acdc', u'reasons': [], u'xrootd': u'disabled', u'sites': [u'T2_US_UCSD'], u'secondary': u'disabled'}}

it seem

[2019-02-13 22:41] vargasa commented on #11
I'll close this as the main issue was addressed on: https://github.com/CMSCompOps/wtc-console/pull/13

[2019-02-13 22:41] #11 closed

[2019-02-13 22:53] vargasa commented on #5
Does it correspond to `this` repo? Can we close it?

[2019-02-13 22:54] vargasa commented on #4
I'll close this as the main issue was addressed on https://github.com/CMSCompOps/wtc-console/pull/12

[2019-02-13 22:54] #4 closed

[2019-02-13 22:56] vlimant commented on #5
it does not indeed correspond to the new console

[2019-02-25 17:23] vargasa commented on #9
New workflows are being fetched every minute, while updates are being done every 10 minutes:

https://github.com/CMSCompOps/wtc-console/blob/2e68a0c919e7609e67124c21160ab55e389c398b/src/djangoreactredux/celery.py#L15

For some reason `wc-dev` was not running the celery workers, maybe I turned them off at some point as this is my dev place. However, logs on `vocms0116` show that workers have been u

[2019-02-25 17:34] vargasa commented on #15
Is this the same as issue #9? If so, please check  [this comment](https://github.com/CMSCompOps/wtc-console/issues/9#issuecomment-467099605)

[2019-02-25 18:15] vlimant commented on #15
this is about having the report being made by unified (as it already is) so that it can never be out of sync

[2019-02-28 15:29] dabercro commented on #9
It looks like the workflows have recent information now. It's not perfectly synced, but this particular issue can be closed.

[2019-02-28 15:29] #9 closed

[2019-02-28 15:31] dabercro commented on #3
This is working now: https://its.cern.ch/jira/browse/CMSMONIT-45

[2019-02-28 15:31] #3 closed

[2019-02-28 15:31] #5 closed

[2019-02-28 15:37] dabercro opened #20 "Mixing of PrepID Tasks"
There seem to be workflows that mix tasks together. For example, in this screen shot, both PrepIDs are including tasks that look like they should belong to the other PrepID, based on the numbers "00413" and "00561". This results in duplicate tasks.

![screen shot 2019-02-28 at 8 30 06 am](https://user-images.githubusercontent.com/7958662/53578040-cb87cb80-3b44-11e9-8126-34810d5becd4.png)

[2019-03-05 12:18] hbakhshi opened #21 "AI Error Handling : database and interface"
The request is to store the suggestion of AI for each new action in the database. There could be more than one suggestion per action.

In addition to the database modification, we need to implement a system to run the codes and extract the suggestions. I can help to implement this part, if I know how it should work.

[2019-03-06 15:38] vargasa commented on #20
I checked and It doesn't seem to be a problem on the front-end,  rather, this is coming directly from the database:

![1](https://user-images.githubusercontent.com/16821717/53892343-1d739a00-3ffa-11e9-90b4-ef3ca6339951.png)

[This](http://wc-dev.cern.ch/tasks?page=1&filter=PPD-PhaseIIMTDTDRAutumn18DR-00009&orderBy=priority-desc) is coming from [here](http://wc-dev.cern.ch/api/v1/workflows/tasks/).

[2019-03-07 13:50] phylsix commented on #20
This is what I see from wmstats API
https://cmsweb.cern.ch/wmstatsserver/data/request/pdmvserv_task_PPD-PhaseIIMTDTDRAutumn18GS-00015__v1_T_190126_074935_1059

Some tasks' prepID seems to be end with 00009, but this workflow's prepID seems to be consistent to me, ending with 00015

[2019-03-07 14:30] dabercro commented on #20
Okay. This matches what Andres sees, so it's likely that the tasks don't have to match the workflow name.

Also, from the wmstats API, it looks like different tasks are under different PrepIDs. @sharad1126 @vlimant Does that make sense that different tasks under the same workflow have different PrepIDs? We will have to change the presentation hierarchy if that's the case.

[2019-03-07 15:40] vlimant commented on #20
yes, multiple prepids can be present by workflow, the two first column of your screenshot should be "inverted"

[2019-03-07 15:49] dabercro commented on #20
How do we group ACDCs together then?

[2019-03-11 22:38] vargasa commented on #21
@hbakhshi Here you can find an example of how the `models` are defined:

https://github.com/CMSCompOps/wtc-console/blob/4157709c755f62dcbc2adf54dcbecfb71a06bd6c/src/workflows/models.py#L36

We can make it a Django app to handle the backend or if it is not well defined we can make it part of  `misc`

https://github.com/CMSCompOps/wtc-console/tree/master/src/misc

[2019-03-11 22:40] vargasa commented on #16
Addressed on https://github.com/CMSCompOps/wtc-console/pull/19

[2019-03-11 22:40] #16 closed

[2019-03-12 13:21] hbakhshi commented on #21
Thanks @vargasa . I will look at them and try to find how we should put our tools in.
Here is some details about what we need.

For the database : We need one table with the following fields :
1. TasksID : one-to-many linked to the table of tasks
2. ModelID (Integer) : an integer showing the ID of the model
3. InputTrainingDatasetID (Integer) : to store the information about the input training dat

[2019-03-12 13:40] vargasa commented on #21
@hbakhshi

https://github.com/CMSCompOps/wtc-console/blob/4157709c755f62dcbc2adf54dcbecfb71a06bd6c/src/workflows/models.py#L36

If these information is needed I'd rather think about making the whole thing an app within `this` console, that would probably save us time and you'll have access to the databases `wtc` has access to. @dabercro What do you think?

[2019-03-12 21:22] dabercro commented on #21
I don't think the models need to be made inside this console, but they will need to have a uniform interface. Maybe this console can define a base class or even have a simple implementation, but that's not strictly necessary as long as everyone agrees on object methods and signatures.

That way, as far as this console is concerned, all of the models can just be a list of objects with the same meth

[2019-03-14 14:07] dabercro commented on #20
@vargasa It looks like each workflow is still only associated with one PrepID. We can keep ACDCs together this way. You can usually tell this based on the name, or you can add the same check that the old console does through request manager: https://github.com/dabercro/WorkflowWebTools/blob/master/workflowwebtools/workflowinfo.py#L454
https://github.com/dabercro/WorkflowWebTools/blob/master/workfl

[2019-03-19 09:49] vlimant commented on #21
the model prediction should not be run on the console VM, so that we have a structure that is flexible and can accommodate for multiple engines (which might in the end require more than what a single VM can provide)

what needs to be defined IMO, is the schema/location of the suggestions that an external engine can push in 274-mongodb, and how it gets visualized/used on the console (related to #7

[2019-03-19 14:26] vargasa commented on #20
Hi @dabercro. It is not the case, for instance the workflow `pdmvserv_task_PPD-PhaseIIMTDTDRAutumn18GS-00015__v1_T_190126_074935_1059` is associated with two prep ids `PPD-PhaseIIMTDTDRAutumn18DR-00009` and with `PPD-PhaseIIMTDTDRAutumn18GS-00015` :

[code]

[2019-03-19 15:05] hbakhshi commented on #21
I have just committed the first version of the AIErrorHandling on my github here :
https://github.com/hbakhshi/AIErrorHandling/
API to get all the AI suggestions can be found in the models sub-package.

It needs tensorflow 1.13.
it has been tested and is compatible with python 2.7 and 3.5
we can try to install it on the new-console machine and see how it works.

There is a place to add the codes f

[2019-03-19 17:27] dabercro commented on #20
Yeah, the tasks still might be associated with multiple PrepIDs, but the workflow itself is only associated with one. In this case, it would be `PPD-PhaseIIMTDTDRAutumn18GS-00015`. See the top of https://cmsweb.cern.ch/reqmgr2/data/request?name=pdmvserv_task_PPD-PhaseIIMTDTDRAutumn18GS-00015__v1_T_190126_074935_1059. The first occurrence of the PrepID corresponds to the workflow. The other instanc

[2019-03-19 17:36] dabercro commented on #21
I copied the repository for you here: https://github.com/CMSCompOps/AIErrorHandling. @hbakhshi you should have admin access after you accept the invitation.

In my experience, I used `conda` to install tensorflow on one of the CERN VMs (`miniconda` was enough: https://conda.io/en/latest/miniconda.html). Hopefully it's straightforward to get Django to play nice with it too.

[2019-04-11 12:50] vargasa opened #23 "Python/Django upgrade"
Latest version of DJango is 2.2, `this` console is using '1.11.4' from [docs](https://docs.djangoproject.com/en/2.2/releases/2.2/):

Which is a year from now, we have some time for rewriting

[2019-04-22 07:42] vlimant opened #25 "user that can remove actions"
is there a user whitelisting to the /reportaction POST api @dabercro ?
if yes, can you please add cmsunified
FYI @drkovalskyi

[2019-04-22 14:58] dabercro commented on #25
This should be in https://github.com/CMSCompOps/WorkflowWebTools...

These no user. Just the correct key needs to be used. Example is here: https://github.com/CMSCompOps/WorkflowWebTools/blob/master/test/report_action.py You should have the correct key somewhere already, but I can send you it if you are not sure where it is.

[2019-04-23 14:53] vlimant commented on #25
all good then. thx

[2019-04-23 14:53] #25 closed

[2019-05-15 20:14] dabercro commented on #20
@hbakhshi So doing this with the `docker-compose up` images, we can quickly reproduce this problem by using "Filter by": `pdmvserv_task_PPD-PhaseIIMTDTDRAutumn18GS-0001`. Here, we can see the tasks `pdmvserv_task_PPD-PhaseIIMTDTDRAutumn18GS-00010__v1_T_190130_112047_7218` and `pdmvserv_task_PPD-PhaseIIMTDTDRAutumn18GS-00011__v1_T_190130_112044_5709` show up three times.

[2019-05-16 12:05] dabercro opened #27 "Encryption"
Everything is sent over HTTP now. I think it would be nice to encrypt everything, especially if we add authentication.

[2019-05-16 12:08] dabercro opened #28 "Authentication"
There may be a way to get the user name through CERN SSO at least. This way, we can tell Unified who is submitting.

[2019-05-17 19:35] vargasa commented on #20
It starts rendering the `Prep`:

https://github.com/CMSCompOps/wtc-console/blob/de1d11f76e2b344d9952bb7328bceb136b4dcfd9/src/static/containers/Tasks/index.js#L618

Then it renders each `workflow` for the `prep`:

https://github.com/CMSCompOps/wtc-console/blob/de1d11f76e2b344d9952bb7328bceb136b4dcfd9/src/static/components/PrepWorkflowsTreeTable.js#L229

And finally the list of `tasks`:

https://git

[2019-05-21 18:30] vargasa commented on #27
Self-signed certificate are now available for:

* https://aieh.cern.ch/predict/
* https://vocms0116.cern.ch/tasks
* https://wc-dev.cern.ch/tasks

Default redirection from `http` to `https` port was set

[2019-05-22 15:04] dabercro commented on #27
Great, thanks!

[2019-05-22 15:04] #27 closed

[2019-05-22 15:20] dabercro commented on #20
Sorry for the late reply. Yeah, I see this happen for the duplicates when I use the filter `pdmvserv_task_PPD-PhaseIIMTDTDRAutumn18GS-0001` mentioned above. Hamed found out that this only happens in Safari though, not Firefox or Chrome.

[2019-05-30 12:48] vargasa commented on #28
CERN provides [OAuth2](http://oauth.web.cern.ch/), this will require to upgrade Django to 2+ (now running 1.11.4) so we are able to use [django-oauth-toolkit](https://github.com/jazzband/django-oauth-toolkit) but there are some dependencies issues that arise, due to support only being offered for django 1.* . For instance in the readme file of [django-mongoengine](https://github.com/MongoEngine/dj

[2019-05-30 12:49] vargasa commented on #23
Dependencies issues arise on the upgrade: check https://github.com/CMSCompOps/wtc-console/issues/28#issuecomment-497317474

[2019-06-24 14:05] dabercro opened #30 "Site status"
As reported by @sharad1126:

Right now, vocms0113 is using that columnid through `cmstoolbox`, if I remember correctly. @vargasa Would it be easy to change to use this function https://cms-comp-ops-tools.readthedocs.io/en/latest/toolbox.html#cmstoolbox.sitereadiness.site_readiness ?

[2019-06-24 16:51] dabercro commented on #30
Though, playing with the docker container now, it looks like the statuses have been updated at the first link.

[2019-07-05 06:54] vargasa commented on #28
Regarding this issue, a short summary on the progress:

There are two parts needing to be implemented. One of them is protecting the Django rest framework API (which I was mentioning before) but also the react front end. As for the first one (the API) there is a problem with some libraries as I mentioned before that we still need to figure out. For the second part, the front end, I have been imple

[2019-07-05 07:05] vargasa commented on #30
@sharad1126, @dabercro If you go to https://dashb-ssb.cern.ch/dashboard/request.py/siteviewhistory?columnid=237 and then click on the chain icon "Link for data retrieval" it takes me to http://dashb-ssb.cern.ch/dashboard/request.py/getplotdata?columnid=237&time=24&dateFrom=&dateTo=&site=T0_CH_CERN&sites=all&clouds=all&batch=1. Could you please confirm that these two outputs are different? Because

[2019-07-08 10:41] sharad1126 commented on #30
@vargasa As far as I know, https://dashb-ssb.cern.ch/dashboard/request.py/siteviewhistory?columnid=237 this is the link that is continuously updated for site statuses. The other link that you mentioned(http://dashb-ssb.cern.ch/dashboard/request.py/getplotdata?columnid=237&time=24&dateFrom=&dateTo=&site=T0_CH_CERN&sites=all&clouds=all&batch=1) looks like the same to me, but it has more info as it h

[2019-07-11 15:00] dabercro commented on #30
For everyone else interested, we'll want to watch https://its.cern.ch/jira/browse/CMSMONIT-124

[2019-11-14 09:02] vlimant opened #32 "is user name properly set"
the field "user"

https://github.com/CMSCompOps/WmAgentScripts/blob/0c45578c1171700953e090b9ddc5345115e0b2e5/Unified/actor.py#L581

does not seem to be set @dabercro ; what is the alternative field ?

[2019-11-14 12:47] dabercro commented on #32
SSO hasn't been integrated yet. The plan was to get the user from there. For now, there is no user field set in the MongoDB.

If everything is otherwise working for you, we can make another push to wrap that part up.

[2019-12-04 10:25] vlimant commented on #32
the user has been set properly at some point, don't you have the user name registration in the console itself? being able to see who took the action is useful IMO
FYI @sharad1126

[2019-12-04 14:49] dabercro commented on #32
Ah, I got confused because of which repository this was opened for. I think
that was only set up for the old console. Are you reading actions from the
MongoDB or the old web API?

On Wed, Dec 4, 2019, 4:25 AM vlimant <notifications@github.com> wrote:

[2019-12-04 15:21] vlimant commented on #32
old api. this might indeed be against the wrong repo ; apologies for the confusion.

[2019-12-04 16:34] dabercro commented on #32
Ah okay. I'm traveling right now, but I'll take a look at the old API when
I get back.

On Wed, Dec 4, 2019, 10:21 AM vlimant <notifications@github.com> wrote:

[2019-12-05 20:35] dabercro commented on #32
Okay, I found the problem. It should be fixed now, so actions submitted after today will have the user parameter again.

[2020-01-13 14:29] vlimant commented on #32
better

[2020-01-13 14:29] #32 closed